@model RpgMvc.Models.ArmaViewModel
@{
    ViewBag.Title = "Nova Arma";
}
<!-- INSIRA AQUI OS TEMPDATA DE SUCESSO E ERRO PARA EVITAR TELA DA MORTE-->
<h2>Criar uma Nova Arma</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr/>
        <div class="form-group"><!--id-->
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @readonly =
            "readonly" } })
            </div>
        </div>

        <div class="form-group"><!--nome-->
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control"} })
            </div>
        </div>

        <div class="form-group"><!--Dano-->
            @Html.LabelFor(model => model.Dano, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Dano, new { htmlAttributes = new { @class = "form-control"} })
            </div>
        </div>

        <div class="form-group"><!--PersonagemId-->
            @Html.LabelFor(model => model.PersonagemId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.PersonagemId, Html.GetEnumSelectList(typeof(RpgMvc.Models.Enums.ClasseEnum)),
                    "---Selecione---", new {@class = "form-control"})
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="Salvar" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Retornar", "Index")
</div>